*{
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(139, 155, 183);
}
.container {
    background-color: white;
    margin: 50px auto;
    width: 400px;
    height: 590px;
    border-radius: 20px;
}
img {
    
    border-radius: 35px;
}
.img  img{
    width: 353px;
    padding: 21px
    
}
.text {
    text-align: center;
}
.text h2, p {
    padding: 0px 30px;
    letter-spacing: 0.5px;
    /* line-height: 24px; */
}
.text h2 {
    font-size: 25px;
    font-weight: 700;
}
